<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=schoolKonnect;Integrated Security=True" providerName="System.Data.SqlClient"/>
      </connectionStrings>
 <system.web>

    <authentication mode="Forms">
      <forms cookieless="AutoDetect" name="_Auth" path="/" timeout="60" protection="All" loginUrl="~/Default.aspx" defaultUrl="~/Default.aspx"/>
    </authentication>
    <profile defaultProvider="LoginPage">
      <providers>
        <remove name="LoginPage"/>
        <add name="DefaultProfileProvider" type="System.Web.Profile.SqlProfileProvider, System.Web" connectionStringName="DefaultConnection" applicationName="/LoginPage"/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="LoginPage">
      <providers>
        <remove name="LoginPage"/>
        <add connectionStringName="DefaultConnection" applicationName="/LoginPage" name="LoginPage" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <membership defaultProvider="LoginPage">
      <providers>
        <remove name="LoginPage"/>
        <add name="LoginPage" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DefaultConnection" enablePasswordRetrieval="true" passwordFormat="Clear" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/LoginPage"/>
      </providers>
    </membership>
    <sessionState mode="InProc" cookieless="AutoDetect" timeout="60" customProvider="DefaultSessionProvider">
      <providers>
      </providers>
    </sessionState>
    </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>

  </system.webServer>
</configuration>